:root {
  --white: #fff;
  --black: #000;
  --purple-1:#3D00B7;
  --purple-2:#220970;
  --purple-3:#2639ED;
  --gray-1:#565656;
  --greed-1:#00AC4F;
  --red-1:#FF002E;
  --transparent:transparent;
  --white-3:rgba(217, 224, 236, 0.2);;
  --white-2:rgba(255, 255, 255, 0.2);

  
 
}
$colors:white,black,purple-1,purple-2,purple-3,gray-1,greed-1,transparent,white-3,white-2,red-1;