//border
$border-min : 0;
$border-max : 101;

//flex
$flex-min-col:1;
$flex-max-col:12;
$flex-min-gap:1;
$flex-max-gap:101;

//font
$font-min:10;
$font-max:50;
$line-h-min:10;
$line-h-max:25;

//height
$height-min:0;
$height-max:100;

//width
$width-min:0;
$width-max:500;

//margin
$margin-min:0;
$margin-max:100;

//padding
$padding-min:0;
$padding-max:100;

//trbl
$top-min:0;
$top-max:50;
$left-min:0;
$left-max:50;
$right-min:0;
$right-max:50;
$bottom-min:0;
$bottom-max:50;

//z-index
$z-index-min:-10;
$z-index-max:10;