.collapImg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: ptr(10px);
    grid-auto-flow: row;
    grid-template-areas:
      "Img1 Img1 Img2"
      "Img1 Img1 Img3"
      "Img1 Img1 Img4";
    picture{
        display: flex;
        border-radius: ptr(11px);
        img{
            border-radius: ptr(11px);
            width: 100%;
        }
        @for $var from 1 to 5 {
            &:nth-child(#{$var}){
                grid-area: Img#{$var};
            }
        }
    }
}
  
.collapImg2 {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Img1 Img1 Img1 Img1 Img1 Img1 . . . . . ."
      "Img1 Img1 Img1 Img1 Img1 Img1 . . . . . ."
      "Img1 Img1 Img1 Img1 Img1 Img1 . . . . . ."
      "Img1 Img1 Img1 Img1 Img1 Img1 . Img2 Img2 Img2 Img2 Img2"
      "Img1 Img1 Img1 Img1 Img1 Img1 . Img2 Img2 Img2 Img2 Img2"
      "Img1 Img1 Img1 Img1 Img1 Img1 . Img2 Img2 Img2 Img2 Img2"
      ". . . . . . . Img2 Img2 Img2 Img2 Img2"
      ". . Img3 Img3 Img3 Img3 . Img2 Img2 Img2 Img2 Img2"
      ". . Img3 Img3 Img3 Img3 . . . . . ."
      ". . Img3 Img3 Img3 Img3 . . . . . ."
      ". . Img3 Img3 Img3 Img3 . . . . . .";
    .imgC{
        @for $var from 1 to 4 {
            &:nth-child(#{$var}){
                grid-area: Img#{$var};
            }
        }
    }
}
  