@font-face {
    font-family: dm_sans;
    src: url('/font/dm_sans/DMSans-Regular.ttf');
}
@font-face {
    font-family: dm_sans;
    src: url('/font/dm_sans/DMSans-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: dm_sans;
    src: url('/font/dm_sans/DMSans-Bold.ttf');
    font-weight: 700;
}
.font-dm_sans{
    font-family: dm_sans;
}