@each $color in $colors {
    .color-#{"" + $color} {
      color: var(--#{"" + $color});
      &-hover:hover {
        color: var(--#{"" + $color});
      }
    }
    .bg-#{"" + $color} {
      background: var(--#{"" + $color});
      &-hover:hover {
        background: var(--#{"" + $color});
      }
    }
    .border-#{"" + $color} {
      border-color: var(--#{"" + $color});
      &-hover:hover {
        border-color: var(--#{"" + $color});
      }
    }
  }
  