.text{
    @include resp{
        &-left{
            text-align: left;
        }
        &-center{
            text-align: center;
        }
        &-right{
            text-align: right;
        }

        &-decoration{
            &-none{
                text-decoration: none;
            }
            &-through{
                text-decoration: line-through;
            }
            &-underline{
                text-decoration: underline;
            }
            &-overline{
                text-decoration:overline;
            }
        }
    }
}