@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
}
.font-montserrat {
  font-family: montserrat;
}

@font-face {
  font-family: dm_sans;
  src: url("/font/dm_sans/DMSans-Regular.ttf");
}
@font-face {
  font-family: dm_sans;
  src: url("/font/dm_sans/DMSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: dm_sans;
  src: url("/font/dm_sans/DMSans-Bold.ttf");
  font-weight: 700;
}
.font-dm_sans {
  font-family: dm_sans;
}

html {
  font-size: 10px;
  overflow: auto;
}
@media (min-width: 575px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

body {
  padding-top: var(--sizeHeader, 0);
}

:root {
  --white: #fff;
  --black: #000;
  --purple-1:#3D00B7;
  --purple-2:#220970;
  --purple-3:#2639ED;
  --gray-1:#565656;
  --greed-1:#00AC4F;
  --red-1:#FF002E;
  --transparent:transparent;
  --white-3:rgba(217, 224, 236, 0.2);
  --white-2:rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-three);
}

::-webkit-scrollbar-thumb {
  background-color: var(--greyish-two);
}

.header-input {
  outline: none;
}
.header-input::placeholder {
  color: var(--white);
}

.container {
  width: 100%;
  max-width: var(--container, 75.25rem);
  margin-left: auto;
  margin-right: auto;
}

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.collapImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.625rem;
  grid-auto-flow: row;
  grid-template-areas: "Img1 Img1 Img2" "Img1 Img1 Img3" "Img1 Img1 Img4";
}
.collapImg picture {
  display: flex;
  border-radius: 0.6875rem;
}
.collapImg picture img {
  border-radius: 0.6875rem;
  width: 100%;
}
.collapImg picture:nth-child(1) {
  grid-area: Img1;
}
.collapImg picture:nth-child(2) {
  grid-area: Img2;
}
.collapImg picture:nth-child(3) {
  grid-area: Img3;
}
.collapImg picture:nth-child(4) {
  grid-area: Img4;
}

.collapImg2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Img1 Img1 Img1 Img1 Img1 Img1 . . . . . ." "Img1 Img1 Img1 Img1 Img1 Img1 . . . . . ." "Img1 Img1 Img1 Img1 Img1 Img1 . . . . . ." "Img1 Img1 Img1 Img1 Img1 Img1 . Img2 Img2 Img2 Img2 Img2" "Img1 Img1 Img1 Img1 Img1 Img1 . Img2 Img2 Img2 Img2 Img2" "Img1 Img1 Img1 Img1 Img1 Img1 . Img2 Img2 Img2 Img2 Img2" ". . . . . . . Img2 Img2 Img2 Img2 Img2" ". . Img3 Img3 Img3 Img3 . Img2 Img2 Img2 Img2 Img2" ". . Img3 Img3 Img3 Img3 . . . . . ." ". . Img3 Img3 Img3 Img3 . . . . . ." ". . Img3 Img3 Img3 Img3 . . . . . .";
}
.collapImg2 .imgC:nth-child(1) {
  grid-area: Img1;
}
.collapImg2 .imgC:nth-child(2) {
  grid-area: Img2;
}
.collapImg2 .imgC:nth-child(3) {
  grid-area: Img3;
}

/*# sourceMappingURL=style.css.map */
